@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar_custom_color_active {
    background-color: #404040;
    color: #f5f5f5;
}

.sidebar_custom_color_active span {
    color: #0ea5e9;   
}

